@page "/categorias"

@using Interfaces
@inject ICategoriaRepositorio MyCategoriaRepositorio

<h1 class="text-center">Categorias</h1>


<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h4 class="card-title text-dark">Lista de Categorias</h4>
            </div>
            <div class="col-3 offset-2">
                    <NavLink href="crear-categoria" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>&nbsp; Nueva Categoria</NavLink>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (CategoriaDto.Count() > 0)
                {
                    foreach (var categoria in CategoriaDto)
                    {
                        <tr>
                            <td>@categoria.CategoriaId</td>
                            <td>@categoria.NombreCategoria</td>
                            <td>@categoria.Descripcion</td>
                            <td>
                                <NavLink href="@($"editar-categoria/{categoria.CategoriaId}")" class="btn btn-success"><i class="bi bi-gear-fill"></i>&nbsp; Editar</NavLink>
                                <button class="btn btn-danger" @onclick="() => ManejadorOnBorrar(categoria.CategoriaId)"><i class="bi bi-trash-fill"></i>&nbsp; Borrar</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No hay registros</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>