@page "/editar-categoria/{Id:int}"

@using Interfaces
@inject ICategoriaRepositorio MyCategoriaRepositorio
@inject NavigationManager NavigationManager


<h1 class="text-center">Editar Categorias</h1>

<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h2 class="text-dark">Editar Categorias</h2>
            </div>
        </div>
    </div>

    <div class="card-body">
        <EditForm Model="CategoriaDto" OnValidSubmit="@( () => ManejadorOnEditarCategoria())">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>

            <div class="container">

                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>Nombre: </label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="CategoriaDto.NombreCategoria" class="form-control" placeholder="Ingresa el nombre"></InputText>
                            <ValidationMessage For="() => CategoriaDto.NombreCategoria"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>Descripcion: </label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="CategoriaDto.Descripcion" class="form-control" placeholder="Ingresa la descripcion"></InputText>
                            <ValidationMessage For="() => CategoriaDto.Descripcion"></ValidationMessage>
                        </div>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <button type="submit" class="btn btn-success"><i class="bi bi-gear-fill"></i>&nbsp; Actualizar Categoria</button>
                        </div>
                        <div class="col-6">
                            <NavLink href="categorias" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i>&nbsp; Volver</NavLink>
                        </div>
                    </div>
                </div>

            </div>
        </EditForm>
    </div>

</div>
